@media all and (min-width: 900px)
{
body {
  margin: auto;
  min-width: 250px;
  max-width: 50%;
  background-color: skyblue;
}

#headname {
  margin: 10px auto;
  padding: 10px;
  font-size:70px;
  text-align: center;
}

.first {
  margin: 5px auto;
  font-size:20px;
  text-align: center;
}

.header {
  background-color: crimson;
  padding: 25px 35px;
  color: white;
  text-align: center;
}
.header::after {
  content: "";
  display: table;
  clear: both;
}

.addBtn {
  padding: 10px;
  width: 25%;
  background: #d9d9d9;
  color: #000;
  float: left;
  text-align: center;
  font-size: 20.3px;
  cursor: pointer;
  transition: 0.3s;
  border-radius: 0;
}
.addBtn:hover {
  background-color: #9da19c;
}

#date {
  margin: 10px auto;
  font-size:25px;

}

* {
  box-sizing: border-box;
}

ul {
  margin: 0;
  padding: 0;
}
ul li {
  cursor: pointer;
  position: relative;
  padding: 12px 8px 12px 40px;
  list-style-type: none;
  background: #fff;
  font-size: 18px;
  transition: 0.2s;
}

/* Set zebra-stripes: all even list items to a different color */
ul li:nth-child(even) {
background: #f7eae1;
}

ul li:hover {
  background: #9da15c;
}
ul li.checked {
  background: teal;
  color: white;
  text-decoration:line-through;
}
ul li.checked::before {
  content: '';
  position: absolute;
  border-color: #fff;
  border-style: solid;
  border-width: 0 2px 2px 0;
  top: 10px;
  left: 16px;
  transform: rotate(45deg);
  height: 15px;
  width: 7px;
}

/* Style the close button */
.close {
  position: absolute;
  right: 0;
  top: 0;
  padding: 12px 16px 12px 16px;

}
.close:hover {
  background-color: crimson;
  color: white;
}

input {
  margin: 0;
  border: none;
  border-radius: 0;
  width: 75%;
  padding: 10px;
  float: left;
  font-size: 20px;
}

#clear-list{
  width: 25%;
  font-weight: bold;
  font-style: italic;
  font-size: 180%;
  font-family: "Times New Roman";
  margin: 40px 35%;
  background-color: darkblue;
  color: white;
}
#clear-list:hover{
  background-color: blue;
  color: white;
}
#clear-list:active{
  background-color: green;
  color: white;
}
#date{
  font-size:25px;
}
}